@{
    Layout = "_Layout";
}

<html>
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/SignUp.js"></script>

</head>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">SignUp here</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group" id="formGroupName">
                                    <label>Name: <span class="mandatory">*</span></label>
                                    <input type="text" name="Name" id="txtName" class="form-control" />
                                    <span id="errName"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" id="formGroupEmail">
                                    <label>Email Address: <span class="mandatory">*</span></label>
                                    <input type="text" name="Email" id="txtEmail" class="form-control" />
                                    <span id="errEmail"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" id="formGroupMobile">
                                    <label>Mobile Number: <span class="mandatory">*</span></label>
                                    <input type="text" name="Mobile" id="txtMobile" class="form-control" />
                                    <span id="errMobile"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" id="formGroupGender">
                                    <label>Gender: <span class="mandatory">*</span></label>
                                    <select id="ddlGender" name="Gender" class="form-control">
                                        <option value="-1">Select</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Other</option>
                                    </select>
                                    <span id="errGender"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" id="formGroupPassword">
                                    <label>Your Password: <span class="mandatory">*</span></label>
                                    <input type="text" name="Password" id="txtPassword" class="form-control" />
                                    <span id="errPassword"></span>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group" id="formGroupAddress1">
                                    <label>Address 1: <span class="mandatory">*</span></label>
                                    <textarea name="Address1" id="txtAddress1" class="form-control"></textarea>
                                    <span id="errAddress1"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" id="formGroupAddress2">
                                    <label>Address 2: <span class="mandatory">*</span></label>
                                    <textarea name="Address2" id="txtAddress2" class="form-control"></textarea>
                                    <span id="errAddress2"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" id="formGroupPincode">
                                    <label>Pin code: <span class="mandatory">*</span></label>
                                    <input type="text" name="Pincode" id="txtPincode" class="form-control" />
                                    <span id="errPincode"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" id="formGroupIsActive">
                                    <label>IsActive: <span class="mandatory">*</span></label>
                                    <select id="ddlIs_Active" name="Is_Active" class="form-control">
                                        <option value="-1">Select</option>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>

                                    </select>
                                    <span id="errIs_Active"></span>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group" id="formGroupSubmit">
                                    <button type="button" class="btn btn-success" id="btnSubmit">SignUp</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <a asp-action="Login" asp-controller="Account">Already have account Login here</a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>

